<!-- !
     Part of Yarrow.
     Add boilerplate here.
-->
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
      <xi:include href="layout.html" />
<head>
<title>${content.title}</title>
</head>
<body>

<p><i>(Continued from <a href="http://rgtp.thurman.org.uk/gossip/groggs/R0832124#end">gbiff new article notifier</a>)</i></p>

<div class="gossip" py:for="gossip in content.posts">
<hr class="invisible" />
<table name="${gossip.seq}" class="reply" width="100%"><tbody><tr>
<th rowspan="2">${gossip.grogname}</th>
<td><a class="uid" href="mailto:${gossip.user}">${gossip.user}</a>
<a href="#${gossip.seq}" class="seq">(${gossip.seq})</a>
</td></tr>
<tr><td>Fri 07 <a href="${content.prefix}/${gossip.year}/${gossip.month}">${gossip.monthname}</a> <a href="${content.prefix}/${gossip.year}">${gossip.year}</a> ${gossip.time}</td></tr></tbody></table>
<p>
${gossip.body}
<span id="after-${gossip.seq}" />
</p>
</div>

<hr />
<form action="/gossip/groggs/Y2181456/post" method="post" py:if="content.form.show">
From <input name="from" value="${content.form.grogname}" style="width: 99%;" type="text" /><br />
Message <textarea style="width: 99%;" cols="50" class="textbox" rows="10" name="data">${content.form.prefill}</textarea>
<input name="sequence" value="${content.form.sequence}" type="hidden" />
<input value=" Gossip " type="submit" /></form>
<hr />
<ol>
<?python accesskey = 1 ?>
<li py:for="hop in content.hoplist"><b><a href="${hop.url}" accesskey="${accesskey}">${hop.name}</a></b> (${hop.freshness})
<?python accesskey += 1 ?></li>
</ol>
</body></html>
